<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>index</title>
</head>
<body>
    <h1>Edit Pokeman</h1>
    
    <form action="/pokemon/<%=id%>?_method=PUT" method="POST">
        <label for="id">Id:</label>
        <input type="text" name="id" value="<%=Pokemons.id%>"/>
        <br/>
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= Pokemons.name %> "/> 
        <label for="name">Type:</label>
        <input type="text" name="type" value="<%= Pokemons.type %> "/>
        <input type="text" name="stats" value="<%= Pokemons.stats.hp %> ">
        <input type="url" name="img" value="<%= Pokemons.img %> "/>
        <br/> 
        <input type="submit" value="Submit Edit">  
    </form>
    <a href="/pokemon">
        <button>back</button>
</body>
</html>