<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>show</title>
</head>
<body>
    <h1>Pokemon Show Page</h1>
    <a href="/pokemon">
        <button>back</button>
    </a>
    <div class="container">
        <ul>
            <img src=<%=Pokemons.img %>>
            <h1><%=Pokemons.name %></h1> 
            <p>ID:<%=Pokemons.id %> </p>
            <h3>Type: <%=Pokemons.type %></h3>
           <ul>
            Stats:
           
                <li>HP:<%= Pokemons.stats.hp %> </li> 
                <li>Attack:<%= Pokemons.stats.attack %> </li>
                <li>Defence:<%= Pokemons.stats.defence %> </li>
                <li>Spattack:<%= Pokemons.stats.spattack %> </li>
                <li>Spdefense:<%= Pokemons.stats.spdefense %> </li>
                <li>Speed: <%= Pokemons.stats.speed %> </li>
            </ul>
            
            
            
            <!-- add stats -->
        </ul>
        </div> 
</body>
</html> 